@{
    ViewData["Title"] = "인사평가";
    int a = 0;
    int b = 0;
}
<style>
    .nav-tabs .nav-link.active {
        font-weight: bold;
        color: #214085
    }

    .nav-tabs .nav-link {
        color: grey;
    }
</style>
@model List<인사평가>
<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white">
    <input id="HRsubmit" type="hidden" value="@ViewBag.HRsubmit"/>
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">평가요청</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">평가완료내역</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="table-responsive">
                <table class="table-sm table-bordered" style="width:100%">
                    <thead>
                        <tr style="background-color: #3763ab; color:white">
                            <th>피평가자</th>
                            <th>평가지</th>
                            <th>평가</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.마감.Equals("N") || item.마감.Equals("T"))
                            {
                                a++;
                                <tr>
                                    <td class="AssessName">@item.피평가자</td>
                                    <td class="second_td">
                                        <span class="BigSubject" style="font-weight:bold">@item.평가지</span> <br />
                                        @*&lt <span class="Gubun">@item.구분</span> &gt*@
                                        <input class="StaffID" type="hidden" value="@item.피평가자ID" />
                                    </td>
                                    @if (item.마감.Equals("T"))   // 미제출 평가
                                    {
                                        <td>
                                            <button class="btn btn-sm btn-outline-primary startHR" value="start">수정하기</button>
                                            <button class="btn btn-sm btn-primary submitHR">제출하기</button>
                                        </td>
                                    }
                                    @if (item.마감.Equals("N"))   // 새 평가
                                    {
                                        <td><button class="btn btn-sm btn-outline-primary startHR" value="start">평가시작</button></td>
                                    }
                                </tr>
                            }
                        }
                        @if (a == 0)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="table-responsive">
                <table class="table-sm table-bordered" style="width:100%">
                    <thead>
                        <tr style="background-color: #3763ab; color:white">
                            <th>피평가자</th>
                            <th>평가지</th>
                            <th>평가</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                @if (item.마감.Equals("Y"))
                                {
                                    b++;
                                    <tr>
                                        <td class="AssessNameY">@item.피평가자</td>
                                        <td class="second_tdY">
                                            @item.평가지
                                            <input class="StaffID" type="hidden" value="@item.피평가자ID" />
                                        </td>
                                        <td class="thrid_tdY"><button class="btn btn-sm btn-primary showHR" value="show">평가완료</button></td>
                                    </tr>
                                }
                            }
                        }
                        @if (b == 0)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var HRsubmit = $("#HRsubmit").val();
    $(document).ready(function (e) {
        genRowspan("AssessName");
        genRowspan("AssessNameY");
        
        
        if (HRsubmit == 'HRsubmit') {
            $("#pills-home").tab('dispose');
            $("#pills-profile").tab('show');
        } 

        $(".startHR").click(function () {
            let flag = $(this).val();
            let BigSubject = $(this).parent().parent().find("td.second_td").find("span.BigSubject").text();
            //let Gubun = $(this).parent().parent().find("td.second_td").find("span.Gubun").text();
            let AssesseeID = $(this).parent().parent().find("td.second_td").find("input.StaffID").val();

            if (BigSubject.indexOf('/') != -1) {
                BigSubject = BigSubject.replace(/\//gi, '-');
            }

            location.href = "/Approve/Sub32_1/" + flag + "/" + BigSubject + /*"/" + Gubun +*/ "/" + AssesseeID;
        });

        $(".showHR").click(function () {
            let flag = $(this).val();
            let BigSubject = $(this).parent().parent().find("td.second_tdY").text().trim();
            let AssesseeID = $(this).parent().parent().find("td.second_tdY").find("input.StaffID").val();
            //alert(flag + "/" + BigSubject + "/" + AssesseeID);
            if (BigSubject.indexOf('/') != -1) {
                BigSubject = BigSubject.replace(/\//gi, '-');
            }
            location.href = "/Approve/Sub32_1/" + flag + "/" + BigSubject + "/" + AssesseeID;

        });
    });

    function genRowspan(className) {
        $("." + className).each(function () {
            let rows = $("." + className + ":contains('" + $(this).text() + "')");
            if (rows.length > 1) {
                rows.eq(0).attr("rowspan", rows.length);
                rows.not(":eq(0)").remove();
            }
        });
    }
</script>





