@{
    ViewData["Title"] = "휴가결재";
    int a = 0;
    int b = 0;
    int c = 0;
}
@using HanbizaMVC.ViewModel
@model List<ApproveList>

<style>
    table {
        font-size: small;
    }

        table > thead > tr > th {
            background-color: #3763ab;
            color: white;
        }

    .nav-tabs .nav-link.active {
        font-weight: bold;
        color: #214085
    }

    .nav-tabs .nav-link {
        color: grey;
    }
</style>

<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist" style="font-size:small">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">대기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">승인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile2-tab" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile2" aria-selected="false">반려</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile3-tab" data-toggle="pill" href="#pills-profile3" role="tab" aria-controls="pills-profile3" aria-selected="false" onclick="getHistory()">결재결과</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="table-responsive">
                <p style="text-align:right; margin:0px; font:small">* 신청자의 휴가 잔여일수가 없으면 <span style="color:red;">빨간</span>글씨로 표시됩니다</p>
                <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="5%"><input type="checkbox" id="checkBox_head"></th>
                            <th width="15%">신청자</th>
                            <th>기간 및 사유</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.AResult.Equals("N") && item.processPoint.Equals("Y"))
                            {
                                <tr>
                                    <td><input type="checkbox" class="checkBox_body" value="@item.VacID" /><input type="hidden" class="submit_result" value=""></td>

                                    @if (item.잔여일수 > 0)
                                    {
                                        <td>@item.Staffname</td>

                                    }
                                    else
                                    {
                                        <td style="color:red;">@item.Staffname</td>

                                    }
                                    <td>
                                        @if (item.Vicname.Equals("반차") || item.Vicname.Equals("반차휴가") || item.Vicname.Equals("연차휴가(반차)"))
                                        {
                                            <span>@item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) (@item.UseTime 시간)</span>
                                        }
                                        else
                                        {
                                            <span>@item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) ~ @string.Format("{0:yyyy-MM-dd}", item.ENal)</span>
                                        }
                                        <br />
                                        <span style="color:black">사유: @item.VicReaSon</span><br />
                                        <div class="input-group input-group-sm col-10 reason_Div" style="display: none; margin:0 auto">
                                            <input class="form-control RereaSon" type="text" placeholder="반려사유를 입력해 주세요" />
                                            <div class="input-group-append">
                                                <button class="btn btn-danger rejectBtn">반려</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                a++;
                            }
                        }
                        @if (a == 0)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row p-3">
                <button id="allowBtn" class="btn btn-primary btn-user btn-block col-4" onclick="allowVacation()">승인</button>
                <div class="col-4 offset-4 p-0" id="beforeReason">
                    <button class="btn btn-danger btn-user btn-block" id="beforeReason" onclick="displayReason()">반려</button>
                </div>
                <div class="col-4 offset-4 p-0" id="afterReason" style="display:none">
                    <button class="btn btn-danger btn-user btn-block" id="" onclick="resetReason()">전체 취소</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="table-responsive">
                <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%">신청자</th>
                            <th>기간 및 사유</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.AResult.Equals("Y") && !item.AllProCess.Equals("F"))
                            {
                                <tr>
                                    <td>@item.Staffname</td>
                                    <td>
                                        @if (item.Vicname.Equals("반차") || item.Vicname.Equals("반차휴가") || item.Vicname.Equals("연차휴가(반차)"))
                                        {
                                            <span>@item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) (@item.UseTime 시간)</span>
                                        }
                                        else
                                        {
                                            <span>@item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) ~ @string.Format("{0:yyyy-MM-dd}", item.ENal)</span>
                                        }
                                        <br />
                                        <span style="color:black">@item.VicReaSon</span><br />
                                    </td>
                                </tr>
                            b++;
                            }
                        }
                        @if (b == 0)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="table-responsive">
                <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%">신청자</th>
                            <th>기간 및 사유</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.AResult.Equals("F") && item.AllProCess.Equals("F"))
                            {
                                <tr>
                                    <td>@item.Staffname</td>
                                    <td>
                                        @if (item.Vicname.Equals("반차") || item.Vicname.Equals("반차휴가") || item.Vicname.Equals("연차휴가(반차)"))
                                        {
                                            <span>@item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) (@item.UseTime 시간)</span>
                                        }
                                        else
                                        {
                                            <span>@item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) ~ @string.Format("{0:yyyy-MM-dd}", item.ENal)</span>
                                        }
                                        <br />
                                        <span style="color:black">@item.VicReaSon</span><br />
                                        <span style="color:red">@item.RereaSon</span>
                                    </td>
                                </tr>
                                c++;
                            }
                        }
                        @if (c == 0)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="form-group row ml-1">
                <input id="Snal" class="form-control form-control-sm col-4 col-sm-3" autocomplete="off" /> &nbsp;~&nbsp;
                <input id="Enal" class="form-control form-control-sm col-4 col-sm-3" autocomplete="off" />
            </div>
            <div class="table-responsive">
                
                <span id="result"></span>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        
        $("#Snal").datepicker({
            language: 'ko',
            autoclose: true,
            
        });
        
        $("#Enal").datepicker({
            language: 'ko',
            autoclose: true
        });
        
        $("#Snal").datepicker("setDate", "-15D"); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, +1M:한달후, +1Y:일년후) 
        $("#Enal").datepicker("setDate", "+15D");

        $("#checkBox_head").change(function () {
            if ($("#checkBox_head").is(":checked")) {
                $(".checkBox_body").each(function () {
                    this.checked = true;
                });
            } else {
                $(".checkBox_body").each(function () {
                    this.checked = false;
                });
            }
        });
        $(".checkBox_body").on("change", function () {
            $(this).parent().parent().find("div.reason_Div").hide();
            $(this).parent().parent().find("div.reason_Div").removeClass("openReason");
            let checked_Num = $(".checkBox_body:checked").length
            if (checked_Num == 0) {
                $("#checkBox_head").prop("checked", false);
                $("#beforeReason").show();
                $("#afterReason").hide();
                $("#allowBtn").show();
            }
        });

        $(".rejectBtn").on("click", function () {
            if (confirm("선택한 휴가신청을 반려하시겠습니까?")) {

                let VacID = $(this).closest("tr").find(".checkBox_body").val();
                let RereaSon = $(this).closest("tr").find(".RereaSon").val();
                //alert(VacID + "/" + RereaSon);

                $.ajax({
                    url: "/Approve/Sub31_2/vacation/" + VacID + "/" + RereaSon,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    dataType: "text",
                    success: function () {
                        alert("선택한 휴가 정보가 반려되었습니다.");
                        location.href = "/Approve/Sub31";
                    },
                    error: function () {
                        alert("err");
                    }
                });
            }
        });
        $("#Snal").on("change", function () {
            getHistory();
        });
        $("#Enal").on("change", function () {
            getHistory();
        });

    });
    function allowVacation() {
        let checkedVacId = "";
        $(".checkBox_body:checked").each(function () {
            checkedVacId += $(this).val() + ",";
        })
        checkedVacId = checkedVacId.substring(0, checkedVacId.lastIndexOf(","));
        if (checkedVacId == '') { alert('선택한 내용이 없습니다'); return; }

        if (confirm("선택한 휴가신청을 승인하시겠습니까?")) {
            if ($(".openReason").length > 0) {
                alert("반려 중인 신청이 있습니다.")
                return;
            }
            $.ajax({
                url: "/Approve/Sub31_1/vacation/" + checkedVacId,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "text",
                success: function () {
                    alert("선택한 휴가 정보가 승인되었습니다.");
                    location.href = "/Approve/Sub31";
                },
                error: function () {
                    alert("err");
                }
            });
        }
    }
    function displayReason() {
        let checked_Num = $(".checkBox_body:checked").length
        if (checked_Num == 0) { alert("선택한 내용이 없습니다"); return; }

        $("#allowBtn").hide();
        $("#beforeReason").hide();
        $("#afterReason").show();
        $(".checkBox_body:checked").each(function () {
            $(this).parent().parent().find("div.reason_Div").addClass("openReason");
            $(this).parent().parent().find("div.reason_Div").show();
        })
    }
    function resetReason() {
        $("#checkBox_head").prop("checked", false);
        $(".checkBox_body:checked").each(function () {
            this.checked = false;
        });
        $(".RereaSon").val("");
        $("#allowBtn").show();
        $("#beforeReason").show();
        $("#afterReason").hide();
        $(".reason_Div").hide();
    }

    function getHistory() {
        let Snal = $("#Snal").val();
        let Enal = $("#Enal").val();
        //alert(Snal + "/" + Enal);
        $.ajax({
            url: "/Approve/Sub31_3/vacation/" + Snal+"/"+Enal,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "text",
            success: function (result) {
                //console.log(result);
                //location.href = "/Approve/Sub31";
                var sjson = JSON.parse(result);
             
                var s = '<table id="ApproveHistoryTable" class="table-sm table-bordered col-sm-12">';
                s += "<thead><tr><th align='center' width='15%'>신청자</th><th align='center' width='55%'>신청휴가</th>" 
                s += "<th align='center' width='15%'> 결재자</th><th align='center' width='15%'>결과</th></tr ></thead>"
                if (sjson.length == 0) {
                    s += '<tr><td colspan="4" align="center">데이터가 없습니다</td></tr>';
                } else {
                    for (var i = 0; i < sjson.length; i++) {
                        s += "<tr>";
                        s += "<td>" + sjson[i].StaffName + "<input type='hidden' value='" + sjson[i].StaffID + "'></td>"
                        if (sjson[i].Vicname == '연차휴가(반차)' || sjson[i].Vicname == '반차휴가' || sjson[i].Vicname == '반차') {
                            s += "<td>" + sjson[i].Vicname + " : " + sjson[i].SNal.substring(0, 10) + "(" + sjson[i].UseTime +"시간)</td>"
                        }
                        else {
                            s += "<td>" + sjson[i].Vicname + " : " + sjson[i].SNal.substring(0, 10) + " ~ " + sjson[i].Enal.substring(0, 10) + "</td>"
                        }
                        
                        s += "<td>" + sjson[i].approveName + "</td>"

                        if (sjson[i].AResult == 'F') {
                            s += "<td style='color:red'>반려</td>"
                        }
                        if (sjson[i].AResult == 'Y') {
                            s += "<td style='color:blue'>승인</td>"
                        }
                        s += "</tr>"
                    }
                    s += "</table>"
                }

                $("#result").html(s);
                $("#pills-profile3").tab('show');
            },
            error: function () {
                alert("err");
            }
        });
    }

</script>