@{
    ViewData["Title"] = "인사평가";
    int a = 0;
    int b = 0;
}
<style>
    .nav-tabs .nav-link.active {
        font-weight: bold;
        color: #214085
    }

    .nav-tabs .nav-link {
        color: grey;
    }
    .tr_hover:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.075);
    }
</style>
@model List<인사평가>
<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white">
    <input id="HRsubmit" type="hidden" value="@ViewBag.HRsubmit"/>
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" onclick="showSelectYear('N')">평가요청</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="showSelectYear('Y')">평가완료내역</a>
        </li>
        <ul class="nav justify-content-end" id="SelectYear" style="font-size:small; position:absolute; right:0px; top: 11px; display:none;">
            <a href="#" id="prevBtn" onclick="changeYear('-')"><img src="~/img/search-prev.png" style="width:13px; height:20px; margin:5px" /></a>
            <span style="margin:5px">@ViewBag.선택년 년</span>
            <a href="#" id="nextBtn" onclick="changeYear('+')"><img src="~/img/search-next.png" style="width:13px; height:20px; margin:5px" /></a>
        </ul>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="table-responsive">
                <table class="table-sm table-bordered" style="width:100%">
                    <thead>
                        <tr style="background-color: #3763ab; color:white">
                            <th>피평가자</th>
                            <th width="55%">평가지</th>
                            <th>평가</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.마감.Equals("N") || item.마감.Equals("T"))
                            {
                                a++;
                                <tr>
                                    <td class="AssessName">@item.피평가자</td>
                                    <td class="second_td">
                                        <span class="BigSubject" style="font-weight:bold">@item.평가지</span> <br />
                                        @*&lt <span class="Gubun">@item.구분</span> &gt*@
                                        <input class="StaffID" type="hidden" value="@item.피평가자ID" />
                                    </td>
                                    @if (item.마감.Equals("T"))   // 미제출 평가
                                    {
                                        <td class="third_td">
                                            <button class="btn btn-sm btn-outline-primary startHR" value="start">수정하기</button>
                                            <button class="btn btn-sm btn-primary submitHR">제출하기</button>
                                        </td>
                                    }
                                    @if (item.마감.Equals("N"))   // 새 평가
                                    {
                                        <td class="third_td"><button class="btn btn-sm btn-outline-primary startHR" value="start">평가시작</button></td>
                                    }
                                </tr>
                            }
                        }
                        @if (a == 0)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <p style="text-align:right; margin:0px; font:small">* 클릭하여 피평가자에대한 한줄 평을 작성할 수 있습니다</p>
            <div class="table-responsive">
                <table class="table-sm table-bordered" style="width:100%">
                    <thead>
                        <tr style="background-color: #3763ab; color:white">
                            <th>피평가자</th>
                            <th width="55%">평가지</th>
                            <th>평가</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                @if (item.마감.Equals("Y"))
                                {
                                    b++;
                                    <tr class="tr_hover">
                                        <td class="AssessNameY">@item.피평가자</td>
                                        <td class="second_tdY">
                                            @item.평가지
                                            <input class="StaffID" type="hidden" value="@item.피평가자ID" />
                                            <input class="_Comment" type="hidden" value="@item.평가의견" />
                                        </td>
                                        <td class="thrid_tdY"><button class="btn btn-sm btn-primary showHR" value="show">평가완료</button></td>
                                    </tr>
                                }
                            }
                        }
                        @if (b == 0)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @* layer1 *@
            <!-- CommentModal modal block -->
            <div id="CommentModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-primary modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title">한줄평 작성</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="AssesseeID" />
                            <p>대상 : <span id="AssesseeName"></span></p>
                            <p>평가지 : <span id="BigSubject"></span></p>
                            <textarea class="form-control form-control-sm" id="Comment"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="comment_saveBtn" class="btn btn-primary" data-dismiss="modal" onclick="saveComment()">제출</button>
                            <button type="button" id="comment_closeBtn" class="btn btn-secondary" data-dismiss="modal" style="display:none">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var HRsubmit = $("#HRsubmit").val();
    if (HRsubmit == 'HRsubmit') {
        $("#pills-profile-tab").tab('show');
        $("#SelectYear").show();
    } else {
        $("#pills-home-tab").tab('show');
    }

    $(document).ready(function (e) {
        genRowspan("AssessName");
        genRowspan("second_td");
        genRowspan("third_td");
        genRowspan("AssessNameY");

        $(".startHR").click(function () {
            let flag = $(this).val();
            let BigSubject = $(this).parent().parent().find("td.second_td").find("span.BigSubject").text();
            //let Gubun = $(this).parent().parent().find("td.second_td").find("span.Gubun").text();
            let AssesseeID = $(this).parent().parent().find("td.second_td").find("input.StaffID").val();

            if (BigSubject.indexOf('/') != -1) {
                BigSubject = BigSubject.replace(/\//gi, '-');
            }

            location.href = "/Approve/Sub32_1/" + flag + "/" + BigSubject + /*"/" + Gubun +*/ "/" + AssesseeID;
        });

        $(".showHR").click(function () {
            let flag = $(this).val();
            let BigSubject = $(this).parent().parent().find("td.second_tdY").text().trim();
            let AssesseeID = $(this).parent().parent().find("td.second_tdY").find("input.StaffID").val();
            //alert(flag + "/" + BigSubject + "/" + AssesseeID);
            if (BigSubject.indexOf('/') != -1) {
                BigSubject = BigSubject.replace(/\//gi, '-');
            }
            location.href = "/Approve/Sub32_1/" + flag + "/" + BigSubject + "/" + AssesseeID;
            event.stopPropagation();
        });

        $(".submitHR").click(function () {
            let BigSubject = $(this).parent().parent().find("td.second_td").find("span.BigSubject").text();
            let AssesseeID = $(this).parent().parent().find("td.second_td").find("input.StaffID").val();
            if (BigSubject.indexOf('/') != -1) {
                BigSubject = BigSubject.replace(/\//gi, '-');
            }

            $.ajax({
                url: '/Approve/Sub32_4/' + AssesseeID + "/" + BigSubject,
                type: 'GET',
                contentType: "application/x-www-form-urlencoded;charset=utf-8",
                charset: "utf-8",
                success: function (result) {
                    if (result == "success") {
                        submitHR(AssesseeID, BigSubject);
                    } else {
                        alert("누락된 답변이 있습니다");
                    }
                },
                error: function () {
                    alert("err");
                },
            });
        });

        $(".tr_hover").on("click", function () {
            $("#Comment").attr("readonly", false);
            $("#Comment").val("");
            let BigSubject = $(this).find("td.second_tdY").text().trim();
            let AssesseeID = $(this).find("td.second_tdY").find("input.StaffID").val();
            let AssesseeName = $(this).find("td.AssessNameY").text().trim();
            let Comment = $(this).find("td.second_tdY").find("input._Comment").val();
            $("#AssesseeID").val(AssesseeID);
            $("#AssesseeName").text(AssesseeName);
            $("#BigSubject").text(BigSubject);
            $("#Comment").val(Comment);
            if (Comment != "") {
                $("#Comment").attr("readonly", true);
                $("#comment_closeBtn").show();
                $("#comment_saveBtn").hide();
            } else {
                $("#Comment").attr("readonly", false);
                $("#comment_closeBtn").hide();
                $("#comment_saveBtn").show();
            }

            //alert(BigSubject + "/" + AssesseeID + " / " + AssesseeName);
            if (BigSubject.indexOf('/') != -1) {
                BigSubject = BigSubject.replace(/\//gi, '-');
            }
            $("#CommentModal").modal('show');
        })


    });

    function showSelectYear(sign) {
        if (sign == 'Y') $("#SelectYear").show();
        else $("#SelectYear").hide();
    }

    function submitHR(AssesseeID, BigSubject) {
        $.ajax({
            url: '/Approve/Sub32_3/' + AssesseeID + "/" + BigSubject,
            type: 'GET',
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            charset: "utf-8",
            success: function (result) {
                if (result == "success") {
                    alert("제출완료");
                    location.href = "/Approve/Sub32";
                }
            },
            error: function () {
                alert("err");
            },
        });
    }

    function genRowspan(className) {
        $("." + className).each(function () {
            let rows = $("." + className + ":contains('" + $(this).text() + "')");
            if (rows.length > 1) {
                rows.eq(0).attr("rowspan", rows.length);
                rows.not(":eq(0)").remove();
            }
        });
    }

    function changeYear(sign) {
        let yearList = [];
        let today = new Date()
        let year = today.getFullYear;

        @if(Model == null)
        {
            @:yearList.push(year)
        }
        else
        {
            @foreach (var item in ViewBag.Years)
            {
                @:yearList.push('@item.년');
            }
        }
        let current_num = yearList.indexOf('@ViewBag.선택년');
        //alert("현재index: " + current_num + " / 배열길이: " + yearList.length)
        if (sign == '+') { // 배열 index 감소
            if (current_num - 1 < 0) {
                alert("데이터가 없습니다.")
            }
            else {
                location.href = "/Approve/Sub32/HRsubmit/" + yearList[current_num - 1];
            }
        } else {    // '-' 배열 index 증가
            if (current_num + 1 > yearList.length -1) {
                alert("데이터가 없습니다.")
            }
            else {
                //alert(monthList[current_num + 1])
                location.href = "/Approve/Sub32/HRsubmit/" + yearList[current_num + 1];
            }
        }
    }

    function saveComment() {

        let AssesseeID = $("#AssesseeID").val();
        let BigSubject = $("#BigSubject").text();
        let Comment = $("#Comment").val();
        //alert(AssesseeID + "/" + BigSubject + "/" + Comment)

        if (confirm("제출 시 수정할수 없습니다.\n제출하시겠습니까?")) {
            $.ajax({
                url: "/Approve/Sub32_5",
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "text",
                data: {
                    "피평가자ID": AssesseeID,
                    "평가지": BigSubject,
                    "평가의견": Comment
                },
                success: function (result) {
                    if (result == "success") {
                        alert("등록 완료");
                        location.href = "/Approve/Sub32/HRsubmit";

                    } else {
                        alert("등록 실패")
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }


    }
</script>