@{
    ViewData["Title"] = "인사평가 세부내용";
    int i = 1;
    int j = 1;

}
<style>
    .scoreBtn:hover {
        @if(ViewBag.flag.Equals("start")){
            @:cursor: pointer;
            @:background-color: #5783c3;
            @:color: white;
        }
    }

    .title {
        color: black;
    }

    .selectScore {
        background-color: #5783c3;
        color: white;
    }
</style>
@model List<인사평가>
<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white">
    <div class="table-responsive">
        <table class="table-sm table-bordered" style="width:100%">
            @for (i = j; i < Model.Count;)
            {
                <tr style="border-top:double;">
                    <td class="title" colspan="@Model[i - 1].colspan" style="background-color:#e0e0e0">
                        @Model[i - 1].평가기준 (@Model[i - 1].배점 점)
                        <input type="hidden" class="evalueSEQID" value="@Model[i-1].SEQID" />
                    </td>
                </tr>

                <tr>
                    @for (j = i; j <= Model.Count;)
                    {
                        int col = 1;
                        <td class="scoreBtn score_@i @(!Model[j - 1].등급.Equals("-1")? 
                                                            Model[j - 1].등급.Equals(Model[j - 1].등급목록)?"selectScore ":""
                                                        :"")">
                            @Model[j - 1].등급목록 ( @Model[j - 1].배점목록 점 )
                            <input type="hidden" class="answerSEQID"  value="@Model[j - 1].DetailSEQID" />
                            @if (j == Model.Count)  // 마지막 줄
                            {
                                i = Model.Count;
                                break;
                            }
                            else if (Model[j - 1].답변ID == Model[j].답변ID)    // 같은 질문
                            {
                                j++;
                                col++;
                            }
                            else // 다른 질문으로 넘어갈 때
                            {
                                i = j + 1;
                                break;
                            }
                        </td>
                    }
                </tr>
            }
        </table>
        <div class="row m-3">
            @if (ViewBag.flag.Equals("start"))
            {
                <button class="btn btn-danger col-4" type="button" onclick="goBack()">뒤로가기</button>
                <button class="btn btn-primary offset-4 col-4" type="button" onclick="checkValue()">저장하기</button>
            }
            else
            {
                <button class="btn btn-danger offset-4 col-4" type="button" onclick="goBack()">뒤로가기</button>
            }
        </div>
    </div>
</div>

<script>


    $(document).ready(function (e) {

    });
    $(".scoreBtn").on("click", function () {
        var flag = "@ViewBag.flag";
        if (flag == "start") {
            var cls = $(this).prop("className").split(' ');
            $("." + cls[1]).each(function () {
                $("." + cls[1]).removeClass("selectScore");
            });
            $(this).addClass("selectScore");
        }
    });

    function goBack() {
        history.back();
    }

    function checkValue() {
        let Qlist = $("input.evalueSEQID");
        let Alist = $("td.selectScore").children("input.answerSEQID");
        
        if (Qlist.length == Alist.length) {
            saveAnswer(Qlist, Alist);
        } else {
            alert("누락된 답변이 있습니다." + Qlist.length + "?" + Alist.length);
        }
    }

    function saveAnswer(Qlist, Alist) {
        let QseqIDs = [];
        let AseqIDs = [];
        for (var i = 0; i < Qlist.length; i++) {
            //console.log(Qlist[i].value + " / " + Alist[i].value);
            QseqIDs.push(Qlist[i].value);
            AseqIDs.push(Alist[i].value);
        }

        $.ajax({
            url: '/Approve/Sub32_2/' + QseqIDs + "/" + AseqIDs,
            type: 'GET',
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            charset: "utf-8",
            success: function (result) {
                if (result == "success") {
                    alert("저장완료");
                    location.href = "/Approve/Sub32";
                }
            },
            error: function () {
                alert("err");
            },

        });
    }

</script>





