@{
    ViewData["Title"] = "인사평가 세부내용";
    int i = 1;
    int j = 1;

}
<style>
    .scoreBtn:hover {
        cursor: pointer;
        background-color: #5783c3;
        color: white;
    }

    .title {
        color: black;
    }

    .selectScore {
        background-color: #5783c3;
        color: white;
    }
</style>
@model List<인사평가>
<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white">
    <div class="table-responsive">
        <table class="table-sm table-bordered" style="width:100%">
            @for (i = j; i < Model.Count;)
            {
                <tr style="border-top:double;">

                    <td class="title" colspan="@Model[i - 1].colspan" style="background-color:#e0e0e0">
                        @Model[i - 1].평가기준
                        <input type="hidden" class="evalueSEQID" value="@Model[i-1].SEQID" />
                    </td>
                </tr>
                <tr>

                    @for (j = i; j <= Model.Count;)
                    {
                        int col = 1;
                        <td class="scoreBtn score_@i">
                            @Model[j - 1].등급목록 ( @Model[j - 1].배점목록 점 )
                            <input type="hidden" class="answerSEQID" value="@Model[j - 1].답변ID" />
                            @if (j == Model.Count)
                            {
                                i = Model.Count;
                                break;
                            }
                            else if (Model[j - 1].답변ID == Model[j].답변ID)
                            {
                                j++;
                                col++;
                            }
                            else
                            {
                                i = j + 1;
                                break;
                            }
                        </td>
                    }
                </tr>
            }
        </table>
        <div class="row m-3">
            <button class="btn btn-danger col-4" type="button" onclick="goBack()">뒤로가기</button>
            <button class="btn btn-primary offset-4 col-4" type="button">저장하기</button>
        </div>
    </div>
</div>

<script>


    $(document).ready(function (e) {

    });
    $(".scoreBtn").on("click", function () {
        var cls = $(this).prop("className").split(' ');
        $("." + cls[1]).each(function () {
            $("." + cls[1]).removeClass("selectScore");
        });
        $(this).addClass("selectScore");
    });


    function goBack() {
        history.back();
    }
</script>





