@{
    ViewData["Title"] = "OT결재";
    int a = 0;
    int b = 0;
    int c = 0;
}
@using HanbizaMVC.ViewModel
@model List<ApproveList>


<style>
    table {
        font-size: small;
    }

        table > thead > tr > th {
            background-color: #3763ab;
            color: white;
            cursor: default;
        }

    .nav-tabs .nav-link.active {
        font-weight: bold;
        color: #214085
    }

    .nav-tabs .nav-link {
        color: grey;
    }

    .tr-hover:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.075);
    }

    .SMS_Btn{
        position:absolute;
        right:15px;
        top:15px;
        
    }
    .SMS_Btn:hover{cursor:pointer}
</style>

<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white;">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist" style="font-size:small;">
        <li class="nav-item">
            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">대기</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">승인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile2-tab" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile2" aria-selected="false">반려</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile3-tab" data-toggle="pill" href="#pills-profile3" role="tab" aria-controls="pills-profile3" aria-selected="false" onclick="getHistory()">결재결과</a>
        </li>
    </ul>
    
    @if (ViewBag.menulist[0].OT결재.Equals("2"))
    {
        <a class="SMS_Btn" onclick="Set_SMS_Alram('OT')">
            <i class="fas fa-bell fa-fw SMSBtn"></i>
        </a>
    }
<div id="SMS_Modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-primary modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">SMS알림 시간 설정</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-3 row">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="SMSCheck">
                        <label class="form-check-label" for="SMSCheck">SMS 알림 받기</label>
                    </div>
                </div>
                <div class="p-3 row" id="SMS_Time">

                    <span class="p-1 mr-1">희망 시간 설정 :</span>
                    <select id="Time_Hour" class="form-control form-control-sm col-2">
                        @for (int i = 0; i < 24; i++)
                        {
                            <option value="@i.ToString("D2")">@i.ToString("D2")</option>
                        }
                    </select>
                    <span class="mr-2 p-1">시</span>
                    <select id="Time_Minutes" class="form-control form-control-sm col-2">
                        <option value="00">00</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                    <span class="p-1">분</span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="SMS_TimeSave()">저장</button>
            </div>
        </div>
    </div>
</div> 
    <div class="tab-content" id="pills-tabContent">
        @* 대기 *@
        <div class="tab-pane" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="form-group row ml-1" style="float:left">
                <span style="padding:5px">OT 시작일 :</span>
                <input id="Snal_Waiting" class="form-control form-control-sm col-4 col-sm-3 Snal" autocomplete="off" /> &nbsp;~&nbsp;
                <input id="Enal_Waiting" class="form-control form-control-sm col-4 col-sm-3 Enal" autocomplete="off" />
            </div>
            <div class="table-responsive">
                <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="5%"><input type="checkbox" id="checkBox_head"></th>
                            <th width="15%">신청자</th>
                            <th>기간 및 사유</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.AResult.Equals("N") && item.processPoint.Equals("Y"))
                            {
                                <tr>
                                    <td><input type="checkbox" class="checkBox_body" value="@item.OtID" /><input type="hidden" class="submit_result" value=""></td>
                                    <td>@item.Staffname</td>
                                    <td>
                                        @if (item.Gubun.Equals("C"))
                                        {
                                            <span>평일근로 : @string.Format("{0:yyyy-MM-dd HH:mm}", item.SNal) ~ @string.Format("{0: HH:mm}", item.ENal)</span>
                                        }
                                        @if (item.Gubun.Equals("R"))
                                        {
                                            <span>휴일근로 : @string.Format("{0:yyyy-MM-dd HH:mm}", item.SNal) ~ @string.Format("{0: HH:mm}", item.ENal)</span>
                                        }
                                        <br />
                                        <span style="color:black">사유: @item.Reason</span><br />
                                        <div class="input-group input-group-sm col-10 reason_Div" style="display: none; margin:0 auto">
                                            <input class="form-control RereaSon" type="text" placeholder="반려사유를 입력해 주세요" />
                                            <div class="input-group-append">
                                                <button class="btn btn-danger rejectBtn">반려</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                a++;
                            }

                        }
                        @if (a == 0)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row p-3">
                <button id="allowBtn" class="btn btn-primary btn-user btn-block col-4" onclick="allowVacation()">승인</button>
                <div class="col-4 offset-4 p-0" id="beforeReason">
                    <button class="btn btn-danger btn-user btn-block" id="beforeReason" onclick="displayReason()">반려</button>
                </div>
                <div class="col-4 offset-4 p-0" id="afterReason" style="display:none">
                    <button class="btn btn-danger btn-user btn-block" id="" onclick="resetReason()">전체 취소</button>
                </div>
            </div>
        </div>

        @* 승인 *@
    <div class="tab-pane" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="form-group row ml-1" style="float:left">
            <span style="padding:5px">OT 시작일 :</span>
            <input id="Snal_Approve" class="form-control form-control-sm col-4 col-sm-3 Snal" autocomplete="off"/> &nbsp;~&nbsp;
            <input id="Enal_Approve" class="form-control form-control-sm col-4 col-sm-3 Enal" autocomplete="off"/>
        </div>
        <div class="table-responsive">
            <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="15%">신청자</th>
                        <th>기간 및 사유</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.AResult.Equals("Y") && !item.AllProCess.Equals("F"))
                        {
                            <tr>
                                <td>@item.Staffname</td>
                                <td>
                                    @if (item.Gubun.Equals("C"))
                                    {
                                        <span>평일근로 : @string.Format("{0:yyyy-MM-dd HH:mm}", item.SNal) ~ @string.Format("{0: HH:mm}", item.ENal)</span>
                                    }
                                    @if (item.Gubun.Equals("R"))
                                    {
                                        <span>휴일근로 : @string.Format("{0:yyyy-MM-dd HH:mm}", item.SNal) ~ @string.Format("{0: HH:mm}", item.ENal)</span>
                                    }
                                    <br />
                                    <span style="color:black">사유: @item.Reason</span><br />
                                </td>
                            </tr>
                            b++;
                        }
                    }
                    @if (b == 0)
                    {
                        <tr>
                            <td colspan="3">데이터가 없습니다</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

        @* 반려 *@
    <div class="tab-pane" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="form-group row ml-1" style="float:left">
            <span style="padding:5px">OT 시작일 :</span>
            <input id="Snal_Reject" class="form-control form-control-sm col-4 col-sm-3 Snal" autocomplete="off" /> &nbsp;~&nbsp;
            <input id="Enal_Reject" class="form-control form-control-sm col-4 col-sm-3 Enal" autocomplete="off" />
        </div>
        <p style="text-align:right; margin:0px; font:small">* 신청 시작일 전, 클릭하여 반려를 <span style="color:red;">취소</span>할 수 있습니다</p>
        <div class="table-responsive">
            <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="15%">신청자</th>
                        <th>기간 및 사유</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.AResult.Equals("F") && item.AllProCess.Equals("F"))
                        {
                            <tr class="tr-hover" onclick="CancleReject('@item.OtID','@string.Format("{0:yyyy-MM-dd}", item.SNal)')">
                                <td>@item.Staffname <input type="hidden" value="@item.OtID"></td>
                                <td>
                                    @if (item.Gubun.Equals("C"))
                                    {
                                        <span>평일근로 : @string.Format("{0:yyyy-MM-dd HH:mm}", item.SNal) ~ @string.Format("{0: HH:mm}", item.ENal)</span>
                                    }
                                    @if (item.Gubun.Equals("R"))
                                    {
                                        <span>휴일근로 : @string.Format("{0:yyyy-MM-dd HH:mm}", item.SNal) ~ @string.Format("{0: HH:mm}", item.ENal)</span>
                                    }
                                    <br />
                                    <span style="color:black">사유: @item.Reason</span><br />
                                    <span style="color:red">@item.RereaSon</span>

                                </td>
                            </tr>
                            c++;
                        }
                    }
                    @if (c == 0)
                    {
                        <tr style="cursor:default; background-color:white;">
                            <td colspan="3">데이터가 없습니다</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

        @* 결재결과 *@
        <div class="tab-pane" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="form-group row ml-1" style="float:left">
                <span style="padding:5px">OT 시작일 :</span>
                <input id="Snal_History" class="form-control form-control-sm col-4 col-sm-3 Snal" autocomplete="off" /> &nbsp;~&nbsp;
                <input id="Enal_History" class="form-control form-control-sm col-4 col-sm-3 Enal" autocomplete="off" />
            </div>
            <div class="table-responsive">

                <span id="result"></span>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var approveType = "OT";
    var secondTab = "@ViewBag.secondTab";
    if (secondTab == 'Approve') {
        $("#pills-profile-tab").tab('show');
    } else if (secondTab == 'Reject') {
        $("#pills-profile2-tab").tab('show');
    } else {
        $("#pills-home-tab").tab('show');
    }

    $(function () {
        $(".Snal").datepicker({
            language: 'ko',
            autoclose: true
        });

        $(".Enal").datepicker({
            language: 'ko',
            autoclose: true
        });
        //$(".Snal").datepicker("setDate", "-1M"); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, +1M:한달후, +1Y:일년후)
        //$(".Enal").datepicker("setDate", "+1M");
        $(".Snal").datepicker("setDate", "@ViewBag.Snal");
        $(".Enal").datepicker("setDate", "@ViewBag.Enal");

        $("#checkBox_head").change(function () {
            if ($("#checkBox_head").is(":checked")) {
                $(".checkBox_body").each(function () {
                    this.checked = true;
                });
            } else {
                $(".checkBox_body").each(function () {
                    this.checked = false;
                });
            }
        });
        $(".checkBox_body").on("change", function () {
            $(this).parent().parent().find("div.reason_Div").hide();
            $(this).parent().parent().find("div.reason_Div").removeClass("openReason");
            let checked_Num = $(".checkBox_body:checked").length
            if (checked_Num == 0) {
                $("#checkBox_head").prop("checked", false);
                $("#beforeReason").show();
                $("#afterReason").hide();
                $("#allowBtn").show();
            }
        });
        $(".rejectBtn").on("click", function () {
            if (confirm("선택한 OT신청을 반려하시겠습니까?")) {

                let VacID = $(this).closest("tr").find(".checkBox_body").val();
                let RereaSon = $(this).closest("tr").find(".RereaSon").val();
                //alert(VacID + "/" + RereaSon);

                $.ajax({
                    url: "/Approve/Sub31_2/" + approveType + "/" + VacID + "/" + RereaSon,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    dataType: "text",
                    success: function () {
                        alert("선택한 OT 정보가 반려되었습니다.");
                        location.href = "/Approve/Sub30";
                    },
                    error: function () {
                        alert("err");
                    }
                });
            }
        });

        $("#Snal_Waiting, #Enal_Waiting").on("change", function () {
            getOTlist('Waiting');
        });
        $("#Snal_Approve, #Enal_Approve").on("change", function () {
            getOTlist('Approve');
        });
        $("#Snal_Reject, #Enal_Reject").on("change", function () {
            getOTlist('Reject');
        });
        $("#Snal_History, #Enal_History").on("change", function () {
            getHistory();
        });

        Set_SMS('OT');
        Check_SMS_Time();

        $("#SMSCheck").on("click", function () {
            Check_SMS_Time();
        });
    });
    function Check_SMS_Time() {
        if ($("#SMSCheck").is(":checked")) {
            $("#Time_Hour").attr("disabled", false);
            $("#Time_Minutes").attr("disabled", false);
        } else {

            $("#Time_Hour").attr("disabled", true);
            $("#Time_Minutes").attr("disabled", true);
        }

    }
    function Set_SMS_Alram(type) {  // 클릭 시 알람 정보 가져오는 메소드
        
        $("#SMS_Modal").modal('show');
    }
    function Set_SMS(type) {    //페이지 로딩 시
        
    // ajax로 상태여부 체크
        $.ajax({
            url: "/Approve/Sub31_4_1/" + approveType,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "text",
            success: function (result) {
                let sjson = JSON.parse(result);
                let tmpTime = sjson[0].SMStime;
                let tmpHour = tmpTime.substring(0, 2);
                let tmpMin = tmpTime.substring(3, 5);
                $("#Time_Hour").val(tmpHour);
                $("#Time_Minutes").val(tmpMin);
                if (result != "not use") {
                    
                    for (i = 1; i <= 24; i++) { // sms 사용하는 회사면 세팅
                        $("#Time_Hour").append('<option value=' + i + '>' + i + '</optioin>');
                    }
                    // sms알림 사용
                    // smsUse n 이면 색깔 비활성화 <> y 면 활성화
                    if (sjson[0].SMSuse == 'Y') {
                        $(".SMSBtn").css("color", "red"); // 종 색깔
                        $("#SMSCheck").prop("checked", true);// 체크박스 체크
                        Check_SMS_Time();
                    }
                } else {
                    //alert("sms 미사용");

                }
            },
            error: function () {
                alert("err");
            }
        });
        

        // 해당컬럼 y 면 사용 - .SMS_Time(div): show

        // 시간정보있으면 콤보 세팅


    }
    function SMS_TimeSave() {
        let smsTime = ""
        let smsUse = ""
        let message = ""
        smsTime = $("#Time_Hour").val() + ":" + $("#Time_Minutes").val();
        if ($("#SMSCheck").is(":checked")) {
            //alert($("#Time_Hour").val() + ":" + $("#Time_Minutes").val());
            smsUse = "Y"
            message = "매일 "+ smsTime + "에 SMS가 발송됩니다.";
        } else {
            smsUse = "N"
            message = "SMS 알림 설정을 취소합니다";
            
        }
        
        $.ajax({
            url: "/Approve/Sub31_4/" + approveType + "/" + smsUse + "/" + smsTime,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "text",
            success: function () {
                alert(message);
                location.href = "/Approve/Sub30";
            },
            error: function () {
                alert("err");
            }
        });


        $("#SMS_Modal").modal('hide');
        Set_SMS(approveType);
    }

    function allowVacation() {
        let checkedVacId = "";
        $(".checkBox_body:checked").each(function () {
            checkedVacId += $(this).val() + ",";
        })
        checkedVacId = checkedVacId.substring(0, checkedVacId.lastIndexOf(","));
        if (checkedVacId == '') { alert('선택한 내용이 없습니다'); return; }

        if (confirm("선택한 OT신청을 승인하시겠습니까?")) {
            if ($(".openReason").length > 0) {
                alert("반려 중인 신청이 있습니다.")
                return;
            }
            $.ajax({
                url: "/Approve/Sub31_1/" + approveType + "/" + checkedVacId,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "text",
                success: function () {
                    alert("선택한 OT 정보가 승인되었습니다.");
                    location.href = "/Approve/Sub30";
                },
                error: function () {
                    alert("err");
                }
            });
        }
    }
    function displayReason() {
        let checked_Num = $(".checkBox_body:checked").length
        if (checked_Num == 0) { alert("선택한 내용이 없습니다"); return; }

        $("#allowBtn").hide();
        $("#beforeReason").hide();
        $("#afterReason").show();
        $(".checkBox_body:checked").each(function () {
            $(this).parent().parent().find("div.reason_Div").addClass("openReason");
            $(this).parent().parent().find("div.reason_Div").show();
        })
    }
    function resetReason() {
        $("#checkBox_head").prop("checked", false);
        $(".checkBox_body:checked").each(function () {
            this.checked = false;
        });
        $(".RereaSon").val("");
        $("#allowBtn").show();
        $("#beforeReason").show();
        $("#afterReason").hide();
        $(".reason_Div").hide();
    }

    function getOTlist(secondTab) {
        let Snal = '';
        let Enal = '';

        if (secondTab == "Approve") {
            Snal = $("#Snal_Approve").val();
            Enal = $("#Enal_Approve").val();
        }
        if (secondTab == "Reject") {
            Snal = $("#Snal_Reject").val();
            Enal = $("#Enal_Reject").val();
        }
        if (secondTab == "Waiting") {
            Snal = $("#Snal_Waiting").val();
            Enal = $("#Enal_Waiting").val();
        }

        location.href = "/Approve/Sub30/" + secondTab + "/" + Snal + "/" + Enal;
    }

    function getHistory() {
        let Snal = $("#Snal_History").val();
        let Enal = $("#Enal_History").val();
;
        $.ajax({
            url: "/Approve/Sub31_3/" + approveType + "/" + Snal + "/" + Enal,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "text",
            success: function (result) {
                //console.log(result);
                //location.href = "/Approve/Sub31";
                var sjson = JSON.parse(result);

                var s = '<table id="ApproveHistoryTable" class="table-sm table-bordered col-sm-12">';
                s += "<thead><tr><th align='center' width='15%'>신청자</th><th align='center' width='55%'>신청OT</th>"
                s += "<th align='center' width='15%'> 결재자</th><th align='center' width='15%'>결과</th></tr ></thead>"
                if (sjson.length == 0) {
                    s += '<tr><td colspan="4" align="center">데이터가 없습니다</td></tr>';
                } else {
                    for (var i = 0; i < sjson.length; i++) {
                        s += "<tr>";
                        s += "<td>" + sjson[i].StaffName + "<input type='hidden' value='" + sjson[i].StaffID + "'></td>"
                        s += "<td>"
                        if (sjson[i].Gubun == 'C') s += "평일근로 : "
                        if (sjson[i].Gubun == 'R') s += "휴일근로 : "

                        s += sjson[i].SNal.substring(0, 10) + " " + sjson[i].SNal.substring(11, 16) + " ~ " + sjson[i].Enal.substring(11, 16) + "</td>"

                        s += "<td>" + sjson[i].approveName + "</td>"

                        if (sjson[i].AResult == 'F') {
                            s += "<td style='color:red'>반려</td>"
                        }
                        if (sjson[i].AResult == 'Y') {
                            s += "<td style='color:blue'>승인</td>"
                        }
                        s += "</tr>"
                    }
                    s += "</table>"
                }

                $("#result").html(s);
                $("#pills-profile3").tab('show');
            },
            error: function () {
                alert("err");
            }
        });
    }

    function CancleReject(seqid, snal) {
        let date = new Date();
        let year = date.getFullYear();
        let month = date.getMonth();
        let day = date.getDate();
        let today = new Date(year, month, day);

        let yyyy = snal.substr(0, 4);
        let mm = snal.substr(5, 2);
        let dd = snal.substr(8, 2);
        let targetDate = new Date(yyyy, mm - 1, dd);

        if (targetDate < today) {
            alert("지난 결과는 취소할 수 없습니다");
            return;
        }

        if (confirm("선택한 신청의 반려를 취소하시겠습니까?")) {
            $.ajax({
                url: "/Approve/Sub31_2_1/" + approveType + "/" + seqid,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "text",
                success: function () {
                    alert("선택한 반려 정보가 취소되었습니다.");
                    location.href = "/Approve/Sub30";
                },
                error: function () {
                    alert("err");
                }
            });
        }
    }

   




</script>