@model List<출퇴근기록>
@{
    ViewData["Title"] = "근태 보기";
}
<style>
    table {
        font-size: small;
    }

    table > thead > tr > th {
        background-color: #3763ab;
        color: white;
    }
</style>

<div class="text-center">
    <div class="card mb-4 col-lg-9 ">
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="float:left; font-size:small">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">월별근태내역</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">출퇴근기록</a>
                </li>
            </ul>
            <ul class="nav justify-content-end" style="font-size:small">
                <a href="" id="prevBtn" onclick="changeMonth('-')"><img src="~/img/search-prev.png" style="width:13px; height:20px; margin:5px"/></a>
                    <span style="margin:5px">@ViewBag.최근월</span>
                <a href="" id="nextBtn"onclick="changeMonth('+')"><img src="~/img/search-next.png" style="width:13px; height:20px; margin:5px" /></a>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="table-responsive">
                        <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th colspan="2">근무/휴가</th>
                                    <th colspan="2">근무외시수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>기준일</td>
                                    <td>@ViewBag.기준일</td>
                                    <td>총근로</td>
                                    <td>@ViewBag.총근로</td>
                                </tr>
                                <tr>
                                    <td>근무일</td>
                                    <td>@ViewBag.근무일</td>
                                    <td>소정근로</td>
                                    <td>@ViewBag.소정근로</td>
                                </tr>
                                <tr>
                                    <td>결근일</td>
                                    <td>@ViewBag.결근일</td>
                                    <td>근태조정</td>
                                    <td>@ViewBag.근태조정</td>
                                </tr>
                                <tr>
                                    <td>휴무일</td>
                                    <td>@ViewBag.휴무일</td>
                                    <td>초과근로</td>
                                    <td>@ViewBag.초과근로</td>
                                </tr>
                                <tr>
                                    <td>주휴일</td>
                                    <td>@ViewBag.주휴일</td>
                                    <td>연장근로</td>
                                    <td>@ViewBag.연장근로</td>
                                </tr>
                                <tr>
                                    <td>유급휴가</td>
                                    <td>@ViewBag.유급휴일</td>
                                    <td>야간근로</td>
                                    <td>@ViewBag.야간근로</td>
                                </tr>
                                <tr>
                                    <td>무급휴가</td>
                                    <td>@ViewBag.무급휴가휴일</td>
                                    <td>휴일근로</td>
                                    <td>@ViewBag.휴일근로</td>
                                </tr>
                                <tr>
                                    <td>유급주휴일</td>
                                    <td>@ViewBag.유급주휴일</td>
                                    <td>휴일연장</td>
                                    <td>@ViewBag.휴일연장</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>휴일야간</td>
                                    <td>@ViewBag.휴일야간</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="table-responsive">
                        <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>날짜</th>
                                    <th>출근</th>
                                    <th>퇴근</th>
                                    <th>총근로</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var attend in Model)
                                    {
                                        <tr>

                                            @if (attend.날짜.DayOfWeek.ToString("d").Equals("0"))
                                            {
                                            <th style="color:red">@attend.날짜.ToShortDateString() @attend.요일</th>
                                            }
                                            else if (attend.날짜.DayOfWeek.ToString("d").Equals("6"))
                                            {
                                        <th style="color:blue">@attend.날짜.ToShortDateString() @attend.요일</th>
                                            }
                                            else
                                            {
                                            <th>@attend.날짜.ToShortDateString() @attend.요일</th>
                                            }

                                            <td>@attend.출근</td>
                                            <td>@attend.퇴근</td>
                                            <td>@attend.총근로</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
    function changeMonth(sign) {
        location.href = "/Home/Sub1/" + sign; 
    }


</script>
