@{
    ViewData["Title"] = "OT신청";
}
@model List<AddTimeList>
<style>
    table {
        font-size: small;
    }

        table > thead > tr > th {
            background-color: #3763ab;
            color: white;
        }

    .nav-tabs .nav-link.active {
        font-weight: bold;
        color: #214085
    }

    .nav-tabs .nav-link {
        color: grey;
    }

    label {
        font-weight: bold;
    }
</style>

<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">OT신청</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">OT신청내역</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="table-responsive col-12">
                <div class="form-group row mb-4 mt-3">
                    <label class="col-sm-2 col-form-label">구분</label>
                    <div class="col-sm-4">
                        <select id="Gubun" class="form-control form-control-sm">
                            <option value="S" selected disabled>OT를 선택하세요</option>
                            <option value="C">평일근로</option>
                            <option value="R">휴일근로</option>
                        </select>
                    </div>
                    <label class="col-sm-2 col-form-label">신청일</label>
                    <div class="col-sm-4">
                        <input id="Snal" class="form-control form-control-sm" autocomplete="off" placeholder="신청 날짜를 선택하세요" />
                    </div>
                </div>
                @*<div class="form-group row">
                        <label class="col-sm-3 col-form-label">신청일</label>
                        <div class="col-sm-3">
                            <input id="Snal" class="form-control form-control-sm" />
                        </div>
                    </div>*@

                <div class="form-group row mb-4">
                    <label class="col-2 col-form-label">시작</label>
                    <div class="col-10 col-md-4">
                        <select id="Snal_h" class="form-control form-control-sm col-5" style="float:left">
                            @for (int i = 0; i < 24; i++)
                            {
                                <option value="@i.ToString("D2")">@i.ToString("D2") 시</option>
                            }
                        </select>
                        &nbsp;: &nbsp;
                        <select id="Snal_m" class="form-control form-control-sm col-5" style="float:right">
                            <option value="00">00 분</option>
                            <option value="15">15 분</option>
                            <option value="30">30 분</option>
                            <option value="45">45 분</option>
                        </select>
                    </div>
                    <label class="col-2 col-form-label">종료</label>
                    <div class="col-10 col-md-4">
                        <select id="Enal_h" class="form-control form-control-sm col-5" style="float:left">
                            @for (int i = 0; i < 24; i++)
                            {
                                <option value="@i.ToString("D2")">@i.ToString("D2") 시</option>
                            }
                        </select>
                        &nbsp;: &nbsp;
                        <select id="Enal_m" class="form-control form-control-sm col-5" style="float:right">
                            <option value="00">00 분</option>
                            <option value="15">15 분</option>
                            <option value="30">30 분</option>
                            <option value="45">45 분</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-sm-2 col-form-label">사유</label>
                    <div class="col-sm-10">
                        <textarea id="Reason" class="form-control form-control-sm" placeholder="사유를 입력하세요"></textarea>
                    </div>
                </div>
                <div class="col-4 offset-4 mb-2">
                    <button class="btn btn-primary btn-user btn-block" onclick="checkInput()" style="min-width:86px; display:inline-block">신청하기</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="table-responsive">
                <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align:center">신청일</th>
                            <th style="text-align:center">OT신청시간</th>
                            <th style="text-align:center">사유</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                            <tr>
                                <td colspan="3">데이터가 없습니다</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.Snal.DayOfWeek.ToString("d").Equals("0"))
                                    {
                                        <th style="color:red">@string.Format("{0:yyyy-MM-dd}", item.Snal) @item.요일</th>
                                    }
                                    else if (item.Snal.DayOfWeek.ToString("d").Equals("6"))
                                    {
                                        <th style="color:blue">@string.Format("{0:yyyy-MM-dd}", item.Snal) @item.요일</th>
                                    }
                                    else
                                    {
                                        <th>@string.Format("{0:yyyy-MM-dd}", item.Snal) @item.요일</th>
                                    }
                                    <td>@item.Snals ~ @item.Enals</td>
                                    <td>@item.Reason</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //$("#Snal").click(function () {
        //    alert("asdf");
        //});
        $("#Snal").datepicker({
            language: 'ko',
            autoclose: true
            //        $(".datepicker").datepicker({
            //            autoSize: true,
            //            yearRange: "-1:+1", // last hundred years
            //            showOn: "both",
            ///*
            //buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
            //buttonImageOnly: true, //기본 버튼의 회색 부분을 없애고, 이미지만 보이게 함
            //*/
            //            buttonText: "", /*달력 이미지 아이콘 숨기기 */
            //            showButtonPanel: true,
            //            changeYear: false,
            //            dateFormat: "yy-mm-dd",
            //            showOtherMonths: false,
            //            // showWeek: true, /* 주수 출력 여부*/
            //            // weekHeader: "주", /* 주수 출력 여부*/
            ///*
            //            ,minDate: "-1M" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
            //            ,maxDate: "+1M" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
            //*/
            //        });
        });

    });

    function OTsubmit() {
        //alert("asdf");
        let Gubun = $("#Gubun").val();

        let Snal_1 = $("#Snal").val();
        let Snal_h = $("#Snal_h").val();
        let Snal_m = $("#Snal_m").val();

        let Snal = Snal_1 + " " + Snal_h + ":" + Snal_m;

        let Enal_h = $("#Enal_h").val();
        let Enal_m = $("#Enal_m").val();

        let Enal = Snal_1 + " " + Enal_h + ":" + Enal_m;

        let Reason = $("#Reason").val();
        //alert(Gubun + "/" + Snal + "/" + Enal + "/" + Reason);

        $.ajax({
            url: "/Home/Sub2_1/",
            type: "GET",
            dataType: "text",
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            charset: "utf-8",
            data: { "Gubun": Gubun, "Snal": Snal, "Enal": Enal, "Reason": Reason },
            success: function (result) {
                //alert("succ")
                if (result == "success") {
                    $("#Gubun").val("선택");
                    $("#Snal").val("");
                    $("#Snal_h").val("00");
                    $("#Snal_m").val("00");
                    $("#Enal_h").val("00");
                    $("#Enal_m").val("00");
                    $("#Reason").val("");

                    alert("신청 완료");
                    location.href = "Sub2";
                } else {
                    alert("신청 실패")
                }
            },
            error: function () {
                alert("err")
            }
        });
    }
    function checkInput() {
        if ($("#Gubun").val() == "S") {
            alert("OT를 선택해주세요");
            $("#Gubun").focus();
            return;
        }
        if ($("#Snal").val() == "") {
            alert("날짜를 선택해주세요");
            $("#Snal").focus();
            return;
        }
        if ($("#Snal_h").val() == $("#Enal_h").val()
            && $("#Snal_m").val() == $("#Enal_m").val()) {
            alert("시작시간과 종료시간이 같습니다");
            $("#Enal_h").focus();
            return;
        }
        if ($("#Reason").val() == "") {
            alert("사유를 입력해주세요");
            $("#Reason").focus();
            return;
        }

        OTsubmit();
    }
</script>