@{
    ViewData["Title"] = "휴가신청";

}
@model List<Vacation_List>
<style>
    .table-hover > tbody > tr {
        cursor: pointer
    }

    table {
        font-size: small;
    }

        table > thead > tr > th {
            background-color: #3763ab;
            color: white;
        }

    .nav-tabs .nav-link.active {
        font-weight: bold;
        color: #214085
    }

    .nav-tabs .nav-link {
        color: grey;
    }

    label {
        font-weight: bold
    }

    .linePerWord {
        word-break: keep-all;
    }
</style>
<div class="text-center col-12 col-md-8 offset-md-2 p-2" style="background-color:white">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">휴가신청</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">휴가신청내역</a>
        </li>
    </ul>
    @* tap1 *@
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="table-responsive col-12">
                <div class="form-group row mb-4 mt-3">
                    <label class="col-md-2 col-form-label">구분</label>
                    <select class="form-control form-control-sm col-md-4" id="Vicname" onchange="fn_timeHide()">
                        <option value="선택" selected disabled>휴가종류를 선택하세요</option>
                        <option value="연차휴가">연차휴가</option>
                        <option value="반차휴가">반차휴가</option>
                        <option value="기타휴가">기타휴가</option>
                    </select>
                    <label class="col-md-2 col-form-label" id="UseTimeLabel" style="display:none">시간</label>
                    <select class="form-control form-control-sm col-md-4" id="UseTime" style="display:none">
                        <option value="시간" selected disabled>사용 시간을 선택하세요</option>
                        @for (int i = 1; i < 9; i++)
                        {
                            <option value="@i">@i 시간</option>
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-md-2 col-form-label">신청일</label>
                    <input id="Snal" class="form-control form-control-sm col-9 col-md-4" autocomplete="off" placeholder="시작일을 선택하세요" />
                    <label id="EnalLabel" class="col-12 col-md-2 col-form-label">~</label>
                    <input id="Enal" class="form-control form-control-sm col-9 offset-3 col-md-4 offset-md-0" autocomplete="off" placeholder="종료일을 선택하세요" />
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">사유</label>
                    <textarea class="form-control form-control-sm col-md-10" id="VicReason" rows="5" placeholder="사유를 입력하세요"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">결재단계</label>
                    <select class="form-control form-control-sm col-md-4" id="ProCDeep">
                        @{ int a; }
                        @for (a = 1; a < 6; a++)
                        {
                            <option value="@a">@a 단계</option>
                        }
                    </select>

                    <label class="col-md-2 col-form-label">결재자</label>
                    <div id="" class="inputCls1 col-md-4" style="text-align:left">
                        <input type="hidden" id="StaffID1">
                        <input type="text" style="text-align:center;cursor:pointer;" id="sign1" readonly required placeholder="1 단계 결재자 찾기" onclick="layer_open('1');">
                    </div>

                    <div id="" class="inputCls2 col-md-4 offset-md-8 mt-2 mt-md-0" style="display:none; text-align:left; margin-bottom:7px;">
                        <input type="hidden" id="StaffID2">
                        <input type="text" style="text-align:center;cursor:pointer;" id="sign2" readonly required placeholder="2 단계 결재자 찾기" onclick="layer_open('2');">
                    </div>

                    <div id="" class="inputCls3 col-md-4 offset-md-8" style="display:none; text-align:left; margin-bottom:7px;">
                        <input type="hidden" id="StaffID3">
                        <input type="text" style="text-align:center;cursor:pointer;" id="sign3" readonly required placeholder="3 단계 결재자 찾기" onclick="layer_open('3');">
                    </div>

                    <div id="" class="inputCls4 col-md-4 offset-md-8" style="display:none; text-align:left; margin-bottom:7px;">
                        <input type="hidden" id="StaffID4">
                        <input type="text" style="text-align:center;cursor:pointer;" id="sign4" readonly required placeholder="4 단계 결재자 찾기" onclick="layer_open('4');">
                    </div>

                    <div id="" class="inputCls5 col-md-4 offset-md-8" style="display:none; text-align:left; margin-bottom:7px;">
                        <input type="hidden" id="StaffID5">
                        <input type="text" style="text-align:center;cursor:pointer;" id="sign5" readonly required placeholder="5 단계 결재자 찾기" onclick="layer_open('5');">
                    </div>
                </div>
                <div class="form-group row col-4 offset-4">
                    <button class="btn btn-sm btn-primary btn-user btn-block" onclick="checkInput()">휴가신청</button>
                </div>
            </div>
        </div>
        @* layer1 *@
        <!-- findApproverModal modal block -->
        <div id="findApproverModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-primary modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title"><span id="stepModal"></span>단계 결재자 찾기</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="p-3 row">
                            @*<select class="form-control form-control-sm col-2" id="searchKey">
                                    <option value="부서" selected>부서</option>
                                    <option value="이름">이름</option>
                                </select>*@
                            <input class="form-control form-control-sm col-8 offset-1" type="text" placeholder="부서명 또는 이름을 입력하세요" id="searchWord" onkeyup="enterkey()" />
                            <input class="form-control form-control-sm col-2" type="submit" value="검색" id="searchBtn" />
                        </div>
                        @* ajax로 데이터 가져옴 *@
                        <spand id="result"></spand>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /findApproverModal modal block -->
        @* tap2 *@
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="table-responsive">
                <table class="table-sm table-bordered table-hover" id="vacationTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%">구분</th>
                            <th width="45%">신청기간</th>
                            <th width="20%">결재현황</th>
                            <th width="20%">결과</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count == 0)
                        {
                            <tr style="cursor:default; background-color:#fff">
                                <td colspan="4">데이터가 없습니다</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Vicname <input class="vseq" type="hidden" value="@item.SEQID"></td>
                                    @if (item.Vicname.Equals("반차휴가"))
                                    {
                                        <td>@string.Format("{0:yyyy-MM-dd}", item.Snal) (@item.UseTime 시간)</td>

                                    }
                                    else
                                    {
                                        <td><span class="linePerWord">@string.Format("{0:yyyy-MM-dd}", item.Snal) ~ @string.Format("{0:yyyy-MM-dd}", item.Enal)</span></td>
                                    }

                                    <td>
                                        @if (item.AllProCess.Equals("N"))
                                        { @:0 
                                        }
                                        else
                                        {@item.DeepNum}  / @item.ProCDeep
                                    </td>

                                    @if (@item.AllProCess.Equals("F"))
                                    {
                                        <td style="color:red">반려</td>
                                    }
                                    else if (@item.AllProCess.Equals("S"))
                                    {
                                        <td style="color:blue">승인</td>
                                    }
                                    else
                                    {
                                        <td style="color:grey">대기</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>

                </table>
            </div>
        </div>
        @* layer2 *@
        <!-- ApproveDetail modal block -->
        <div id="ApproveDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title" id="exampleModalLongTitle">휴가신청 세부내역 <br />신청 사유 : <span id="vicReason"></span></p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span id="result2"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ApproveDetail modal block -->
    </div>
</div>

<script>
    function enterkey() {
        //var searchKey = $("#searchKey").val();
        var searchWord = $("#searchWord").val().trim();
        if (window.event.keyCode == 13) {
            getApproverTable(/*searchKey,*/ searchWord);
        }
    }

    function getApproverTable(/*searchKey,*/ searchWord) {
        let Sstep_num = $("#stepModal").text();
        let step_num = parseInt(Sstep_num);

        let sf1 = $("#StaffID1").val();
        let sf2 = $("#StaffID2").val();
        let sf3 = $("#StaffID3").val();
        let sf4 = $("#StaffID4").val();
        let sf5 = $("#StaffID5").val();

        if (sf1 == "") { sf1 = "9999999" };
        if (sf2 == "") { sf2 = "9999999" };
        if (sf3 == "") { sf3 = "9999999" };
        if (sf4 == "") { sf4 = "9999999" };
        if (sf5 == "") { sf5 = "9999999" };

        let keyArr = [sf1, sf2, sf3, sf4, sf5]

        let staffList = [];

        for (let i = 0; i < step_num; i++) {
            if (i == step_num - 1) {
                staffList += keyArr[i];
            } else {
                staffList += keyArr[i] + ",";
            }
        }

        //alert(searchKey + "/" + searchWord + "/" + step_num + "/" + staffList)
        $.ajax({
            url: '/Home/Sub3_1/'/* + searchKey + "/"*/ + searchWord + "/" + step_num + "/" + staffList,
            type: 'GET',
            dataType: "json",
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            charset: "utf-8",
            //date: {
            //    "SearchKey" : searchKey,
            //    "SearchWord" : searchWord,
            //    "Step_num" : step_num,
            //    "StaffList" : staffList
            //},
            success: function (result) {
                var sjson = JSON.parse(result);
                //alert("succ");
                var s = '<table id="approverTable" class="table-sm table-bordered table-hover col-sm-12">';
                s += "<thead><tr><th align='center' width='50%'>부서명</th><th align='center' width='50%'>이름</th></tr></thead>"
                if (sjson.length == 0) {
                    s += '<tr><td colspan="2" align="center">데이터가 없습니다</td></tr>';
                } else {
                    for (var i = 0; i < sjson.length; i++) {
                        s += "<tr>";
                        s += "<td>" + sjson[i].Buseo + "<input type='hidden' value='" + sjson[i].StaffID + "'></td>"
                        s += "<td>" + sjson[i].StaffName + "</td>"
                        s += "</tr>"
                        //alert(sjson[i].Buseo);
                    }
                    s += "</table>"
                }

                $("#result").html(s);
            },
            error: function () {
                alert("err");
            }
        })
    }

    function layer_open(id) {
        //alert(id);
        $("#searchWord").val("");
        $("#stepModal").html(id);
        $("#findApproverModal").modal('show'); // 입력 및 수정 폼 모달 창 열기
    }

    function fn_timeHide() {
        $("#div_msg").html("");
        if ($("#Vicname").val() == "반차휴가") {
            $("#UseTime").attr("disabled", false);
            //$("#UseTime").css("background", "#fff");
            $("#Enal").attr("disabled", true);
            //$("#Enal").css("background", "#ccc");
            $("#Enal").val("");

            $("#Enal").hide();
            $("#EnalLabel").hide();
            $("#UseTime").show();
            $("#UseTimeLabel").show();
            $("#UseTime").focus();
            return
        } else {
            $("#UseTime").attr("disabled", true);
            //$("#UseTime").css("background", "#ccc");
            $("#Enal").attr("disabled", false);
            //$("#Enal").css("background", "#fff");

            $("#UseTime").hide();
            $("#UseTimeLabel").hide();
            $("#Enal").show();
            $("#EnalLabel").show();
            $("#Snal").focus();
        }
    }

    // 동적 테이블(결재자 찾기) 생성 후 (row)클릭 이벤트
    $(document).on("click", "#approverTable tr", function () {
        //alert("");
        var step_num = $("#stepModal").text();
        var name = $(this).find("td").eq(1).text();
        var staffID = $(this).find("input").val();
        //alert(name + "/" + staffID + "/" + step_num);

        $("#StaffID" + step_num).val(staffID);
        $("#sign" + step_num).val(name);
        $("#findApproverModal").modal('toggle');
        $("#result").html("");

    });

    $(function () {
        $("#Snal").datepicker({
            language: 'ko',
            autoclose: true
        });
        $("#Enal").datepicker({
            language: 'ko',
            autoclose: true
        });

        $("#Vicname").change(function () {
            if ($("#Vicname").val() == '반차휴가') {
                $("#ShowTime").show();
            } else {
                $("#ShowTime").hide();
            }
        })

        $("#vacationTable tr").click(function () {
            var VacID = $(this).find("input").val();
            //alert(seq)
            if (VacID == null || VacID == "") return;
            $("#ApproveDetail").modal('show');
            $.ajax({
                type: 'GET',
                url: '/Home/Sub3_2/' + VacID,
                dataType: "JSON",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    var sjson = JSON.parse(result);
                    //alert("succ");
                    var s = '<table id="VPTable" class="table-sm table-bordered col-sm-12">';
                    s += "<thead><tr><th align='center' width='10%' >결재</th><th align='center' width='15%'>이름</th><th align='center' width='15%'>부서</th><th align='center'>반려사유</th></tr></thead>"
                    if (sjson.length == 0) {
                        s += '<tr><td colspan="2" align="center">데이터가 없습니다</td></tr>';
                    } else {
                        for (var i = 0; i < sjson.length; i++) {
                            var f_color = '';
                            if (sjson[i].AResult == 'N' && sjson[i].processPoint == 'N') f_color = "gray";
                            if (sjson[i].AResult == 'Y' && sjson[i].processPoint == 'N') f_color = "blue";
                            if (sjson[i].AResult == 'F' && sjson[i].processPoint == 'N') {
                                f_color = "red";
                                var DeepNumChk = Number(sjson[i].DeepNum);
                            }
                            if (DeepNumChk < Number(sjson[i].DeepNum)) f_color = "gray";
                            s += "<tr>";
                            s += "<td style='color:" + f_color + "' width=>" + sjson[i].DeepNum + "</td>"
                            s += "<td style='color:" + f_color + "'>" + sjson[i].approveName + "</td>"
                            s += "<td style='color:" + f_color + "'>" + sjson[i].Buseo + "</td>"
                            s += "<td style='color:" + f_color + "'>" + sjson[i].RereaSon + "</td>"
                            s += "</tr>"
                            //alert(sjson[i].Buseo);
                        }
                        s += "</table>"
                    }
                    $("#vicReason").text(sjson[0].VicReaSon);
                    $("#result2").html(s);
                },
                error: function () {
                    alert("err");
                }
            })
        });

        $("#ProCDeep").change(function () {
            var optionValue = $("#ProCDeep option:selected").val();
            //	   alert(optionValue);
            for (var i = 1; i <= 5; i++) {
                if (i <= optionValue) {
                    $(".inputCls" + i).show();
                } else {
                    $("#StaffID" + i).val("");
                    $("#sign" + i).val("");
                    $(".inputCls" + i).hide();
                }
            }
        });

        $("#searchBtn").click(function () {
            //var searchKey = $("#searchKey").val();
            var searchWord = $("#searchWord").val().trim();
            //alert(searchKey + "/" + searchWord);
            if (searchWord == null || searchWord == "") {
                alert("검색어를 입력해 주세요");
                this.focus();
            } else {
                getApproverTable(/*searchKey,*/ searchWord);
            }

        });

        $("#Snal").change(function () {
            $("#Enal").val($("#Snal").val());
            //    $("#Enal").click();
            //    $("#Enal").focus();
        })
    });

    function submitVacation() {
        //alert("휴가 신청")

        let Vicname = $("#Vicname").val();
        let UseTime = $("#UseTime").val();
        let Snal = $("#Snal").val();
        let Enal = $("#Enal").val();
        let VicReason = $("#VicReason").val();
        let ProCDeep = $("#ProCDeep ").val();

        if (UseTime == "") UseTime = 0;
        if (ProCDeep == "") ProCDeep = 0;
        if (Vicname == "반차휴가") Enal = Snal;

        if (ProCDeep > 0) {
            // 휴가정보 등록(Vacation_List)
            $.ajax({
                url: "/Home/Sub3_3",
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "text",
                data: {
                    "Vicname": Vicname,
                    "UseTime": UseTime,
                    "Snal": Snal,
                    "Enal": Enal,
                    "ProCDeep": ProCDeep,
                    "VicReaSon": VicReason
                },
                success: function (result) {
                    if (result == "success") {

                        insertApprover();

                        $("#Vicname").val("선택");
                        $("#UseTime").val("시간");
                        $("#Snal").val("");
                        $("#Enal").val("");
                        $("#VicReason").val("");
                        $("#ProCDeep ").val(1);
                        $("#sign1").val("");
                        $("#sign2").val("");
                        $("#sign3").val("");
                        $("#sign4").val("");
                        $("#sign5").val("");

                    } else {
                        alert("신청 실패")
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }
    }
    function insertApprover() {
        let ProCDeep = $("#ProCDeep ").val();
        let StaffID1 = $("#StaffID1").val();
        let StaffID2 = $("#StaffID2").val();
        let StaffID3 = $("#StaffID3").val();
        let StaffID4 = $("#StaffID4").val();
        let StaffID5 = $("#StaffID5").val();
        let sign1 = $("#sign1").val();
        let sign2 = $("#sign2").val();
        let sign3 = $("#sign3").val();
        let sign4 = $("#sign4").val();
        let sign5 = $("#sign5").val();

        $.ajax({
            url: "/Home/Sub3_4",
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "text",
            data: {
                "ProCDeep": ProCDeep,
                "StaffID1": StaffID1,
                "StaffID2": StaffID2,
                "StaffID3": StaffID3,
                "StaffID4": StaffID4,
                "StaffID5": StaffID5,
                "Sign1": sign1,
                "Sign2": sign2,
                "Sign3": sign3,
                "Sign4": sign4,
                "Sign5": sign5
            },
            success: function (result) {
                if (result == "success") {
                    alert("신청 완료");
                    location.href = "/Home/Sub3";
                } else {
                    alert("신청 실패");
                }
            },
            error: function () {
                alert("통신실패");
            }
        });


    }
    function checkInput() {
        //let ProCDeep = $("#ProCDeep ").val();
        if ($("#Vicname").val() == "선택") {
            alert("휴가구분을 선택해주세요");
            $("#Vicname").focus();
            return;
        }
        if ($("#Snal").val() == "") {
            alert("휴가기간을 선택해주세요");
            $("#Snal").focus();
            return;
        }
        if ($("#Vicname").val() != "반차휴가") {
            if ($("#Enal").val() == "") {
                alert("휴가기간을 선택해주세요");
                $("#Enal").focus();
                return;
            }
            if ($("#Snal").val().trim() > $("#Enal").val().trim()) {
                alert("종료일이 시작일보다 빠릅니다.");
                $("#Enal").focus();
                return;
            }
        }
        if ($("#Vicname").val() == "반차휴가") {
            if ($("#UseTime").val() == "시간") {
                alert("반차 시간을 선택해주세요");
                $("#UseTime").focus();
                return;
            }
        }
        if ($("#VicReason").val() == "") {
            alert("사유를 입력해 주세요");
            $("#UseTime").focus();
            return;
        }

        var optionValue = $("#ProCDeep option:selected").val();
        for (var i = 1; i <= 5; i++) {
            if (i <= optionValue) {
                if ($("#sign" + i).val() == "") {
                    alert(i + "단계 결재자를 입력해 주세요")
                    $("#sign" + i).focus();
                    return;
                }
            } else {
                $(".inputCls" + i).hide();
            }
        }

        submitVacation();
    }
</script>
