@{
    ViewData["Title"] = "휴가신청";
}
@model List<Vacation_List>
    <style>
        .table-hover{
            cursor:pointer
        }
    </style>
    <div class="card mb-4 col-lg-9 ">
        <div class="card-body pt-3">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="float:left">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">휴가신청</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">휴가신청내역</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                @ViewBag.최근월
            </ul>
@* tap1 *@
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="table-responsive">
                    <form class="user  p-3" action="/Home/Sub3_1" method="get">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">구분</label>

                            <select class="form-control form-control-sm col-sm-4" id="Vicname" name="Vicname" onchange="fn_timeHide()">
                                <option value="선택" selected>선택</option>
                                <option value="연차">연차</option>
                                <option value="반차">반차</option>
                                <option value="기타휴가">기타휴가</option>
                            </select>&nbsp;
                            <select class="form-control form-control-sm col-sm-4" id="UseTime" name="UseTime">
                                <option value="a" selected>시간</option>
                                @for (int i = 1; i < 9; i++)
                                {
                                    <option value="@i">@i 시간</option>
                                }
                            </select>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">신청일</label>

                            <input id="Snal" class="form-control form-control-sm col-sm-4" name="Snal" />

                            &nbsp;~&nbsp;

                            <input id="Enal" class="form-control form-control-sm col-sm-4" name="Enal" />

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">사유</label>

                            <textarea class="form-control form-control-sm col-sm-10" name="VicReason" rows="5"></textarea>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">결재단계</label>
                            <select class="form-control form-control-sm col-sm-10" id="ProCDeep" name="ProCDeep">
                                @{ int a; }
                                @for (a = 1; a < 6; a++)
                                {
                                    <option value="@a">@a 단계</option>
                                }
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">결재자</label>

                            <div id="" class="inputCls1 col-sm-10">
                                <input type="hidden" name="StaffID1" id="StaffID1">
                                <input type="text" style="text-align:center;cursor:pointer;" name="sign1" id="sign1" readonly required placeholder="1 단계 결재자 찾기" onclick="layer_open('1');">
                            </div>
                            <div id="" class="inputCls2 col-sm-10" style="display:none;">
                                <br>
                                <input type="hidden" name="StaffID2" id="StaffID2">
                                <input type="text" style="text-align:center;cursor:pointer;" name="sign2" id="sign2" readonly required placeholder="2 단계 결재자 찾기" onclick="layer_open('2');">
                            </div>
                            <div id="" class="inputCls3 col-sm-10" style="display:none;">
                                <br>
                                <input type="hidden" name="StaffID3" id="StaffID3">
                                <input type="text" style="text-align:center;cursor:pointer;" name="sign3" id="sign3" readonly required placeholder="3 단계 결재자 찾기" onclick="layer_open('3');">
                            </div>
                            <div id="" class="inputCls4 col-sm-10" style="display:none;">
                                <br>
                                <input type="hidden" name="StaffID4" id="StaffID4">
                                <input type="text" style="text-align:center;cursor:pointer;" name="sign4" id="sign4" readonly required placeholder="4 단계 결재자 찾기" onclick="layer_open('4');">
                            </div>
                            <div id="" class="inputCls5 col-sm-10" style="display:none;">
                                <br>
                                <input type="hidden" name="StaffID5" id="StaffID5">
                                <input type="text" style="text-align:center;cursor:pointer;" name="sign5" id="sign5" readonly required placeholder="5 단계 결재자 찾기" onclick="layer_open('5');">
                            </div>

                        </div>

                        <div>
                            <input class="btn btn-primary btn-user btn-block" type="submit" value="신청" />
                        </div>

                    </form>
                </div>
            </div>
            @* layer *@
            <!-- dnnCreateForm modal block -->
            <div id="dnnCreateForm" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title">결재자 찾기</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" id="btnSave">등록</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /dnnCreateForm modal block -->
            @* tap2 *@
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="table-responsive">
                    <table class="table-sm table-bordered table-hover" id="vacationTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>구분</th>
                                <th>신청시간</th>
                                <th>결재현황</th>
                                <th>결과</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count == 0)
                            {
                                <tr>
                                    <td colspan="4">데이터가 없습니다</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Vicname <input class="vseq" type="hidden" value="@item.SEQID"></td>
                                        @if (item.Vicname.Equals("반차"))
                                        {
                                            <td>@item.Snal.ToShortDateString() (@item.UseTime 시간)</td>

                                        }
                                        else
                                        {
                                            <td>@item.Snal.ToShortDateString() ~ @item.Enal.ToShortDateString()</td>
                                        }

                                        <td>@item.ProCDeep</td>

                                        @if (@item.AllProCess.Equals("F"))
                                        {
                                            <td style="color:red">반려</td>
                                        }
                                        else if (@item.AllProCess.Equals("S"))
                                        {
                                            <td style="color:blue">승인</td>
                                        }
                                        else
                                        {
                                            <td style="color:grey">대기</td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>
    <script>
        function layer_open(id) {
            
            $("#dnnCreateForm").modal('show'); // 입력 및 수정 폼 모달 창 열기
        }

        function fn_timeHide() {
            
            $("#div_msg").html("");
            if ($("#Vicname").val() == "반차") {
                $("#UseTime").attr("disabled", false);
                $("#UseTime").css("background", "#fff");
                $("#Enal").attr("disabled", true);
                $("#Enal").css("background", "#ccc");
                $("#Enal").val("");
                $("#UseTime").focus();
                return
            } else {
                $("#UseTime").attr("disabled", true);
                $("#UseTime").css("background", "#ccc");
                $("#Enal").attr("disabled", false);
                $("#Enal").css("background", "#fff");
            }
        }
        $(function () {
            $("#Snal").datepicker({
                language: 'ko'
            });
            $("#Enal").datepicker({
                language: 'ko'
            });

            $("#vacationTable").click(function () {

                var seq = $(this).val();
                alert(seq)
            });
            $("#ProCDeep").change(function () {
                var optionValue = $("#ProCDeep option:selected").val();
                //	   alert(optionValue);
                for (var i = 1; i <= 5; i++) {
                    if (i <= optionValue) {
                        $(".inputCls" + i).show();
                    } else {
                        $("#StaffID" + i).val("");
                        $("#sign" + i).val("");
                        $(".inputCls" + i).hide();
                    }
                }
            });
            
        });
    </script>