@{
    ViewData["Title"] = "휴가결재";
}
@using HanbizaMVC.ViewModel
@model List<ApproveList>


<style>
    table {
        font-size: small;
    }

        table > thead > tr > th {
            background-color: #3763ab;
            color: white;
        }
</style>

<div class="text-center container">
    <div class="card mb-4">
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="float:left; font-size:small">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">대기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">승인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile2-tab" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile2" aria-selected="false">반려</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="table-responsive">
                        <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkBox_head"></th>
                                    <th>신청자</th>
                                    <th>기간 및 사유</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.AResult.Equals("N") && item.processPoint.Equals("Y"))
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="checkBox_body" value="@item.VacID" /><input type="hidden" class="submit_result" value=""></td>
                                            <td>@item.Staffname</td>
                                            <td>
                                                @item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) ~ @string.Format("{0:yyyy-MM-dd}", item.ENal)<br />
                                                <span style="color:black">사유: @item.VicReaSon</span><br />
                                                <div class="input-group input-group-sm col-10 reason_Div" style="display: none; margin:0 auto">
                                                    <input class="form-control RereaSon" type="text" placeholder="반려사유를 입력해 주세요" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-danger rejectBtn">반려</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row p-3">
                        <button class="btn btn-primary btn-user btn-block col-4" onclick="allowVacation(0)">승인</button>
                        <div class="col-4 offset-4 p-0" id="beforeReason">
                            <button class="btn btn-danger btn-user btn-block" id="beforeReason" onclick="displayReason()">반려</button>
                        </div>
                        <div class="col-4 offset-4 p-0" id="afterReason" style="display:none">
                            <button class="btn btn-danger btn-user btn-block" id="" onclick="resetReason()">전체 취소</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="table-responsive">
                        <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>신청자</th>
                                    <th>기간 및 사유</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.AResult.Equals("Y"))
                                    {
                                        <tr>
                                            <td>@item.Staffname</td>
                                            <td>
                                                @item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) ~ @string.Format("{0:yyyy-MM-dd}", item.ENal)<br />
                                                <span style="color:black">@item.VicReaSon</span><br />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="table-responsive">
                        <table class="table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>신청자</th>
                                    <th>기간 및 사유</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.AResult.Equals("F"))
                                    {
                                        <tr>
                                            <td>@item.Staffname</td>
                                            <td>
                                                @if (item.Vicname.Equals("연차"))@*반차일 경우 시간. 연차일 경우 날짜가 나오게. db부터 확인해야함*@
                                                {
                                                <span>@item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) ~ @string.Format("{0:yyyy-MM-dd}", item.ENal)</span>
                                                }
                                                else
                                                {
                                                <span>@item.Vicname : @string.Format("{0:yyyy-MM-dd}", item.SNal) ~ @string.Format("{0:yyyy-MM-dd}", item.ENal)</span>
                                                }
                                                <br />
                                                <span style="color:black">@item.VicReaSon</span><br />
                                                <span style="color:red">@item.RereaSon</span>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function () {
        $("#checkBox_head").change(function () {
            if ($("#checkBox_head").is(":checked")) {
                $(".checkBox_body").each(function () {
                    this.checked = true;
                });
            } else {
                $(".checkBox_body").each(function () {
                    this.checked = false;
                });
            }
        });
        $(".checkBox_body").on("change", function () {
            $(this).parent().parent().find("div.reason_Div").hide();
            $(this).parent().parent().find("div.reason_Div").removeClass("openReason");
            let checked_Num = $(".checkBox_body:checked").length
            if (checked_Num == 0) {
                $("#checkBox_head").prop("checked", false);
                $("#beforeReason").show();
                $("#afterReason").hide();
            }
        });

        $(".rejectBtn").on("click", function () {
            if (confirm("선택한 휴가신청을 반려하시겠습니까?")) {

                let VacID = $(this).closest("tr").find(".checkBox_body").val();
                let RereaSon = $(this).closest("tr").find(".RereaSon").val();
                //alert(VacID + "/" + RereaSon);

                $.ajax({
                    url: "/Home/Sub4_2/" + VacID + "/" + RereaSon,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    dataType: "text",
                    success: function () {
                        alert("선택한 휴가 정보가 반려되었습니다.");
                        location.href = "/Home/Sub4";
                    },
                    error: function () {
                        alert("err");
                    }
                });
            }

        });

    });
    function allowVacation(Gubun) { // Gubun == 0 : 승인, == 1 : 거절
        let checkedVacId = "";
        $(".checkBox_body:checked").each(function () {
            checkedVacId += $(this).val() + ",";
        })
        checkedVacId = checkedVacId.substring(0, checkedVacId.lastIndexOf(","));
        if (checkedVacId == '') { alert('선택한 내용이 없습니다'); return; }

        if (confirm("선택한 휴가신청을 승인하시겠습니까?")) {
            if ($(".openReason").length > 0) {
                alert("반려 중인 신청이 있습니다.")
                return;
            }
            $.ajax({
                url: "/Home/Sub4_1/" + checkedVacId + "/" + Gubun,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                dataType: "text",
                success: function () {
                    alert("선택한 휴가 정보가 승인되었습니다.");
                    location.href = "/Home/Sub4";
                },
                error: function () {
                    alert("err");
                }
            });
        }
    }
    function displayReason() {
        let checked_Num = $(".checkBox_body:checked").length
        if (checked_Num == 0) { alert("선택한 내용이 없습니다"); return; }

        $("#beforeReason").hide();
        $("#afterReason").show();
        $(".checkBox_body:checked").each(function () {
            $(this).parent().parent().find("div.reason_Div").addClass("openReason");
            $(this).parent().parent().find("div.reason_Div").show();
        })
    }
    function resetReason() {
        $("#checkBox_head").prop("checked", false);
        $(".checkBox_body:checked").each(function () {
            this.checked = false;
        });
        $(".RereaSon").val("");
        $("#beforeReason").show();
        $("#afterReason").hide();
        $(".reason_Div").hide();
    }

</script>