@{
    ViewData["Title"] = "급여명세서";
}
@model dynamic
<style>
    table > thead > tr > th {
        background-color: #3763ab;
        color: white;
    }

</style>
<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white">
    <ul class="nav justify-content-end mb-3" style="font-size:small">
        <a href="#" id="prevBtn" onclick="changeMonth('-')"><img src="~/img/search-prev.png" style="width:13px; height:20px; margin:5px" /></a>
        <span style="margin:5px">@ViewBag.선택월 - @ViewBag.선택회차 회차</span>
        <a href="#" id="nextBtn" onclick="changeMonth('+')"><img src="~/img/search-next.png" style="width:13px; height:20px; margin:5px" /></a>
    </ul>
    <div class="table-responsive">
        @* 왼쪽 위 테이블 : Gubun = 0 && Fsort = 0*@
        <table class="table table-bordered table-sm" style="width:50%; float:left">
            <thead>
                <tr>
                    <th>지급수당</th>
                    <th>금액</th>
                </tr>
            </thead>
            @if (Model.plist.Count == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="2">데이터가 없습니다</td>
                    </tr>
                </tbody>
            }
            else
            {
                <tbody>
                    @{int a = 0; }
                    @foreach (var item in Model.plist)
                    {
                        @if (item.Gubun.Equals("0") && item.Fsort == 0)
                        {
                            a++;
                            <tr>
                                <th>@item.Slist</th>
                                <td align="right">@item.SSvalue 원</td>
                            </tr>
                        }
                    }
                    @if (a < ViewBag.Crows)
                    {
                        @for (int i = a; i < ViewBag.Crows; i++)
                        {
                            <tr>
                                <th>&nbsp;</th>
                                <td>&nbsp;</td>
                            </tr>
                        }
                    }
                    @foreach (var item in Model.plist)
                    {
                        @if (item.Slist.Equals("지급합계"))
                        {
                            <tr style="color:black">
                                <th>@item.Slist</th>
                                <td align="right">@item.SSvalue 원</td>
                            </tr>
                        }
                    }
                    
                </tbody>
            }
        </table>

        @* 오른쪽 위 테이블 : Gubun = 1 && Fsort = 0*@
        <table class="table table-bordered table-sm" style="width:50%;">
            <thead>
                <tr>
                    <th>공제수당</th>
                    <th>금액</th>
                </tr>
            </thead>
            @if (Model.plist.Count == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="2">데이터가 없습니다</td>
                    </tr>
                </tbody>
            }
            else
            {
                <tbody>
                    @{int b = 0; }
                    @foreach (var item in Model.plist)
                    {
                        @if (item.Gubun.Equals("1") && item.Fsort == 0)
                        {
                            b++;
                            <tr>
                                <th>@item.Slist</th>
                                <td align="right">@item.SSvalue 원</td>
                            </tr>
                        }
                    }
                    @if (b < ViewBag.Crows)
                    {
                        @for (int i = b; i < ViewBag.Crows; i++)
                        {
                            <tr>
                                <th>&nbsp;</th>
                                <td>&nbsp;</td>
                            </tr>
                        }
                    }
                    @foreach (var item in Model.plist)
                    {
                        @if (item.Slist.Equals("공제합계"))
                        {
                            <tr style="color:black">
                                <th>@item.Slist</th>
                                <td align="right">@item.SSvalue 원</td>
                            </tr>
                        }
                    }
                    
                </tbody>
            }
        </table>
        @*아래 테이블 : Gubun = 1 && Fsort > 0*@
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th width="50%">합계</th>
                    <th>금액</th>
                </tr>
            </thead>
            @if (Model.plist.Count == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="2">데이터가 없습니다</td>
                    </tr>
                </tbody>
            }
            else
            {
        <tbody>
            @foreach (var item in Model.plist)
            {
                @if (item.Fsort > 0 && !item.Slist.Equals("지급합계") && !item.Slist.Equals("공제합계"))
                {
                    if (item.Slist.Equals("이체금액"))
                    {

                        <tr style="background-color:#d0eaf8; color:black">
                            <th style="border-bottom-color:black">@item.Slist</th>
                            <td style="border-bottom-color:black" align="right">@item.SSvalue 원</td>
                        </tr>
                    }
                    else
                    {
                        <tr style="background-color:none; color:black; font-weight:100">
                            <th style="border-bottom-color:black; font-weight:300">@item.Slist</th>
                            <td style="border-bottom-color:black" align="right">@item.SSvalue 원</td>
                        </tr>
                    }
                }
            }
            <tr>
                <td colspan="2" align="center" style="color:#3763ab; padding:10px;">귀하의 노고에 감사드립니다.</td>
            </tr>
        </tbody>
            }
        </table>
    </div>
</div>

<script>
    function changeMonth(sign) {
        let monthList = [];
        let NcountList = [];
        @foreach (var item in Model.monthList)
        {
            @:monthList.push('@item.Yyyymm');
            @:NcountList.push('@item.Ncount');
        }
        let current_num = monthList.indexOf('@ViewBag.선택월');
        //alert("현재index: " + current_num + " / 배열길이: " + monthList.length)
        if (sign == '+') { // 배열 index 감소
            if (current_num - 1 < 0) {
                alert("데이터가 없습니다.")
            }
            else {
                location.href = "/Home/Sub6/" + monthList[current_num - 1] + "/" + NcountList[current_num - 1];
            }
        } else {    // '-' 배열 index 증가
            if (current_num + 1 > monthList.length -1) {
                alert("데이터가 없습니다.")
            }
            else {
                location.href = "/Home/Sub6/" + monthList[current_num + 1] + "/" + NcountList[current_num + 1];
            }
        }
    }

</script>
