@{
    ViewData["Title"] = "급여명세서";
}
@model List<PayList>
<style>
    table > thead > tr > th {
        background-color: #3763ab;
        color:white;
    }

    table > tbody > tr > th {
        
    }
</style>
    <div class="card mb-4 col-lg-9 ">
        <div class="card-body">
            <div class="text-center">
                   
            @*Gubun = 0 && Fsort = 0*@
                <table class="table table-bordered table-sm" style="width:50%; float:left">
                    <thead>
                        <tr>
                            <th>지급수당</th>
                            <th>금액</th>
                        </tr>
                    </thead>
                    <tbody>
                   @foreach (var item in Model)
                    {
                       @if (item.Gubun.Equals("0") && item.Fsort == 0) { 
                        <tr>
                            <th>@item.Slist</th>
                            <td align="right">@item.SSvalue 원</td>
                        </tr>
                       }
                   }
                    </tbody>
                </table>
                    


                @*Gubun = 1 && Fsort = 0*@
                <table class="table table-bordered table-sm" style="width:50%;">
                    <thead>
                        <tr>
                            <th>공제수당</th>
                            <th>금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Gubun.Equals("1") && item.Fsort == 0)
                            {
                                <tr>
                                    <th>@item.Slist</th>
                                    <td align="right">@item.SSvalue 원</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @*Gubun = 1 && Fsort > 0*@
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>합계</th>
                            <th>금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Fsort > 0)
                            {
                                <tr style="background-color:#d0eaf8; color:black">
                                    <th style="border-bottom-color:black">@item.Slist</th>
                                    <td style="border-bottom-color:black" align="right">@item.SSvalue 원</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <script>
            function asdf() {
                alert("agasg");
            }

        </script>
